

:root{


//background
  --color-bg-primary: #fff;
  --color-bg-secondary:#F0F0F0;
  --color-bg-tertiary:#202C4A;
//liens
  --color-link:#202C4A;
  --color-link-hover:#E53847;
  --color-link-visited:#8B8B97;
//texte
  --color-text-primary:#000000;
  --color-text-secondary:#FFFFFF;
//gradient
  --color-gradient:linear-gradient(180deg, #62BDFC 0%, #8490FF 100%);









}